.title {
  text-align: center;
  font-style: oblique;
  font-size: 4em;
  font-weight: bold;
  color: brown;
}

.root {
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  font-weight: bold;
}

.city-list {
  text-align: center;
}

#status-view {
  padding: 20px;
  height: 300px;
  width: 100%;
  display: flex;
}

#face-view {
  padding: 25px;
  justify-content: center;
}

#status-detail-view {
  padding:30px;
  justify-content: center;
}

.face {
  height: 14em;
  justify-content: center;
}

.star-rate {
  height: 3em;
  max-width: 100%;
  justify-content: center;
}

#stat-string {
  font-weight: bold;
  text-align: center;
  font-size: 1.3em;
}

#meaning {
  text-align: justify;
}

.log {
  text-align: center;
}

.log-msg {
  text-align: left;
  text-emphasis: 1em;
}

.logo-character {
  height: 1.25em;
}

.logo {
  width: 35%;
  max-width: 70%;
  height: auto;
}

.needBold {
  font-weight: bold;
}

.carousel {
  background-color: rgba(0, 0, 0, 0.1);
}

.c-item {
  padding: 1em;
  text-align: center;
}