.title {
  text-align: center;
  font-size: 4em;
}

.city-list {
  text-align: center;
}

.log {
  text-align: center;
}

.log-msg {
  text-align: left;
  text-emphasis: 1em;
}

.map{
  height: 380px;
}