.title {
  text-align: center;
  font-style: oblique;
  font-size: 4em;
  font-weight: bold;
  color: brown;
}

.navbar {
  font-weight: bold;
}

.city-list {
  text-align: center;
}

.log {
  text-align: center;
}

.log-msg {
  text-align: left;
  text-emphasis: 1em;
}

.map{
  height: 380px;
}

.needBold {
  font-weight: bold;
}

.carousel {
  text-align: center;
}

.c-item {
  padding: 1em;
}