html {
  background-color: brown;
}

body {
  background-color: white;
  margin: 2em;
  padding: 2em;
  font-family: sans-serif;
}

.search-bar button .fa-spin {display: none;}
.search-bar button span {display: inline-block;}
.search-bar button.loading .fa-spin {display: inline-block;}
.search-bar button.loading span {display: none;}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}
svg {
  height: 150px;
}